@model MorFriesland.Models.Bronhouder

@{
    ViewData["Title"] = "Bronhouder verwijderen";
}


<h3>
    Weet u zeker dat u @Html.DisplayFor(model => model.Gemeente) wilt verwijderen?
</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Gemeente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gemeente)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Verwijderen" class="btn btn-default meldingbutton" /> |
        <a asp-action="Index">Bekijk bronhouders</a>
    </form>
</div>
