@model IEnumerable<MorFriesland.Models.Melding>

@{
    ViewData["Title"] = "Alle meldingen";
}

<h2>Meldingen</h2>

<p>
    <a class="btn btn-default meldingbutton" asp-action="Index">Nieuwe melding</a>
</p>

<div class="row">
    <input id="pac-input" class="controls" type="text"
           placeholder="Zoek een locatie">
    <div class="nieuwemap" id="map"></div>
    <div id="infowindow-content">
        <span id="place-name" class="title"></span><br>

        <span id="place-address"></span>
    </div>
    <script src="~/js/allemeldingen.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCK3VEpVPHSGvBnYuGfLUYYtj1MnJ4rPWg&libraries=places&callback=initMap" async defer></script>
</div>

@foreach (var item in Model)
{
    <div id="meldingen" style="display: none;" data-lat="@item.Lat" data-lng="@item.Long" data-name="@item.Naam" data-img="/uploads/@item.Naam/@item.Foto" data-beschrijving="@item.Beschrijving" data-gearchiveerd="@item.Gearchiveerd"></div>

}
