@model IEnumerable<MorFriesland.Models.Melding>

@{
    ViewData["Title"] = "Index";
}

<p>iets hier</p> 
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Categorie) 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beschrijving)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th>
                <a asp-action="mijnmeldingen" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.Opgelosttijd)</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Naam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Beschrijving)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Foto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Opgelosttijd)
                </td>
            </tr>
        }
    </tbody>
</table>
