@using MorFriesland.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav nav-pills nav-stacked">
    <li class="@ManageNavPages.IndexNavClass(ViewContext)"><a asp-action="Index">Profiel</a></li>
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)"><a asp-action="ChangePassword">Wachtwoord</a></li>

    @if (User.IsInRole("Gebruiker"))
    {
        <li class="@ManageNavPages.MijnMeldingenNavClass(ViewContext)"><a asp-controller="Melding" asp-action="MijnMeldingen">Mijn Meldingen</a></li>
    }
    else if (User.IsInRole("Beheerder") || User.IsInRole("Admin"))
    {
        <li class="@ManageNavPages.MijnMeldingenNavClass(ViewContext)"><a asp-controller="Beheer" asp-action="Index">Beheer</a></li>
        <li class="@ManageNavPages.MijnMeldingenNavClass(ViewContext)"><a asp-controller="Bronhouder" asp-action="Index">Bronhouders</a></li>
        <li class="@ManageNavPages.MijnMeldingenNavClass(ViewContext)"><a asp-controller="Account" asp-action="AddUserRole">Voeg gebruikers aan rollen toe</a></li>
    }
    
</ul>

