@model MorFriesland.Models.Melding

@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <div>
        <h4>Melding</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Categorie)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Naam)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Beschrijving)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Beschrijving)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Foto)
            </dt>
            @if (Model.Foto != null)
    {
        <dd>
            @Html.DisplayFor(model => model.Foto)
        </dd>
}
else
{
        <dd>
            Geen foto
        </dd>
}
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            @if (Model.Email != null)
    {
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
}
else
{
        <dd>
            Wil niet op de hoogte gehouden worden
        </dd>
}

            <dt>
                @Html.DisplayNameFor(model => model.Opgelosttijd)
            </dt>
            @if (Model.Opgelosttijd != null)
    {
        <dd>
            @Html.DisplayFor(model => model.Opgelosttijd)
        </dd>
}
else
{
        <dd>
            Nog niet opgelost
        </dd>
}

            <dt>
                @Html.DisplayNameFor(model => model.Gearchiveerd)
            </dt>
            @if (Model.Gearchiveerd == false)
    {
        <dd>
            Nog niet gearchiveerd
        </dd>
}
else
{
        <dd>
            Gearchiveerd
        </dd>
}

            @if (Model.Melder == null)
    {
        <dt>
            @Html.DisplayNameFor(model => model.Melder)
        </dt>
        <dd>
            Anoniem
        </dd>
}
        </dl>
    </div>
    <div class="form-group">

    </div>
    <div class="form-group">
        <input type="submit" id="Opgelost" class="btn btn-default Opgelostbutton" value="Opgelost" />
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</body>
</html>
