@model MorFriesland.Models.Melding

<div class="row">
    <div class="col-md-5">
        <h4>Melding</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Categorie)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Naam)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Beschrijving)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Beschrijving)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Foto)
            </dt>
            @if (Model.Foto != null)
        {
            <dd>
                <img src=" @Html.DisplayFor(model => model.Foto)" />

                 @*@Html.DisplayFor(model=> model.Foto)*@
            </dd>
    }
    else
    {
        <dd>
            Geen foto
        </dd>
}
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            @if (Model.Email != null)
        {
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
    }
    else
    {
        <dd>
            Wil niet op de hoogte gehouden worden
        </dd>
}

            <dt>
                @Html.DisplayNameFor(model => model.Opgelosttijd)
            </dt>
            @if (Model.Opgelosttijd != null)
        {
            <dd>
                @Html.DisplayFor(model => model.Opgelosttijd)
            </dd>
    }
    else
    {
        <dd>
            Nog niet opgelost
        </dd>
}

            <dt>
                @Html.DisplayNameFor(model => model.Gearchiveerd)
            </dt>
            @if (Model.Gearchiveerd == false)
        {
            <dd>
                Nog niet gearchiveerd
            </dd>
    }
    else
    {
        <dd>
            Gearchiveerd
        </dd>
}

            @if (Model.Melder == null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Melder)
            </dt>
            <dd>
                Anoniem
            </dd>
    }
        </dl>

        <div class="form-group">
            
            <a class="btn btn-success" asp-action="Update" asp-route-id="@Model.Id">Opgelost</a>
            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">Verwijderen</a>

        </div>
    </div>


<div class="col-md-7">

    <div class="nieuwemap" id="map"></div>

    <script src="~/js/beheer.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCK3VEpVPHSGvBnYuGfLUYYtj1MnJ4rPWg&libraries=places&callback=initMap" async defer></script>
</div>

<div id="meldingen" style="display: none;" data-lat="@Model.Lat" data-lng="@Model.Long" data-name="@Model.Naam" data-img="/uploads/@Model.Naam/@Model.Foto" data-beschrijving="@Model.Beschrijving"></div>
</div>